.progress-track {
  position: relative;
  height: 1px;
  overflow: visible;
  background: rgba(255,255,255,0.25);
}

.progress-value {
  position: relative;
  display: block;
  height: 100%;
  background: var(--color-action);
  transition: width 500ms var(--ease-snap);
}

.progress-value::after {
  position: absolute;
  top: -4px;
  right: -1px;
  width: 2px;
  height: 9px;
  content: '';
  background: var(--color-action);
}
